<div class="emptystate">
  <div>
    <ion-icon name="alert-circle" 
      color="primary"
      style="zoom:3.0;"
      ></ion-icon>
    <h6>Você ainda não possui cartões</h6>
    <article class="artigo">
      Acesse o menu: <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Crie suas categorias <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cadastre seus cartões <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Utilize a ferramenta de captura por imagem <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Analise suas estatisticas <br>
    </article>
  </div>

</div>